.like_page {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.like_page_title_card_container {
  align-self: flex-start;
  min-width: 25rem;
  flex-basis: 30%;
  gap: 1rem;
}
.like_page_title_card {
  position: relative;
}
.like_page_title_card_img{
    width: 100%;
}
.like_page_title_card_content{
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 0.5rem;
    background-color: var(--text-clr-choice);
    color:var(--bg-clr-choice);
}
.like_page_video_list{
    flex-grow: 1;
}
@media screen and (max-width: 1020px) {
  .like_page {
    flex-direction: column;
  }
  .like_page_title_card_container {
    flex-basis: 100%;
    min-width: unset;
  }
}
