.collection_card_container {
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 5.5rem;
}

.collection_card_container:hover {
  background-color: var(--icon-hover-clr-bg);
}

.collection_card_container_img {
  height: 100%;
}

.collection_card_container_contents {
  flex-grow: 1;
  gap: 0.25rem;
}

.collection_card_container_contentTitle_container {
  gap: 0.25rem;
}

.collection_card_container_contentTitle {
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.collection_card_container_other_contents {
  font-size: 0.875rem;
  color: var(--primary-color);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.collection_card_container_other_contents > span {
  margin-right: 0.5rem;
}

.collection_card_container_other_contents_separator {
  font-size: 8px;
}

.collection_card_container_options {
  align-self: flex-start;
  margin-left: auto;
  visibility: hidden;
}

.collection_card_container:hover .collection_card_container_options {
  visibility: visible;
}

@media screen and (max-width: 1024px) {
  .collection_card_container {
    padding: 0;
  }
  .collection_card_container_options {
    visibility: visible;
  }
}
