.miHeader {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 4.5rem;
  margin: 0 auto;
  background-color: var(--bg-clr-choice);
  color: var(--text-clr-choice);
  box-shadow: rgba(9, 30, 66, 0.01) 0px 1px 1px,
    rgba(9, 30, 66, 0.08) 0px 0px 1px 1px;
  z-index: 10;
}
.iconBtn,
.iconBtnSm {
  cursor: pointer;
  border: transparent;
  margin: 0.5rem;
  background: transparent;
}
.iconBtn i {
  font-size: 1.6rem;
  color: var(--text-clr-choice);
}
.iconBtn span {
  color: var(--text-clr-choice);
}
.iconBtnSm i {
  font-size: 1.2rem;
  color: var(--text-clr-choice);
}
.miBrand {
  cursor: pointer;
  background: transparent;
  border: transparent;
  font-family: "Catamaran", sans-serif;
  color: var(--text-clr-choice);
  font-size: 1.5rem;
}
.miSearchSection {
  width: 25rem;
  background-color: var(--bg-clr-choice);
  color: var(--text-clr-choice);
  border: 1px solid rgb(165, 165, 165);
  /* This line is to remove non functional search bar */
  visibility: hidden;
}
.miSearchSection i {
  color: var(--text-clr-choice);
}
.miSearchSection input {
  flex: 1 1;
  background-color: var(--bg-clr-choice);
  color: var(--text-clr-choice);
  outline: transparent;
  border: transparent;
}
.searchForMobile,
.showMenuBtn {
  display: none;
}
.showMenuBtn i {
  color: var(--text-clr-choice);
}
.searchForMobile .miSearchSection {
  width: 95%;
  margin: 0.5rem auto;
}
@media screen and (max-width: 768px) {
  /* .searchForMobile, */
  /* This above line is commented to remove non functional search bar */
  .showMenuBtn {
    display: block;
  }
  .searchDesktop {
    display: none;
  }
}

.login_page_active:hover {
  color: var(--primary-color);
}
