.miBtn {
  border: transparent;
  background: transparent;
  color: var(--text-clr-choice);
}
.display-none {
  display: none;
}

/* FOR IMAGE CAROUSEL */
.slider-wrapper {
  background-color: transparent;
  border-width: 0;
  padding: 0;
  border-radius: 0;
}

.carousel .thumbs-wrapper {
  text-align: center;
}

.fs-1-2 {
  font-size: 1.2rem;
}
.fs-1-3 {
  font-size: 1.3rem;
}

.hero_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
  gap: 0.5rem 0.75rem;
  width: -webkit-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: max-content;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  border-color: var(--primary-color);
}
